@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义样式 */
@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    color: #111827;
  }
}

/* 自定义 CSS 变量 */
:root {
  --color-primary: #0ABAB5;
  --color-secondary: #FACC15;
}
